<div id="friends-panel" class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <h3>Friends</h3>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content card">
             <div class="main-card mb-3 card">
                <div class="card-header-tab card-header">
                    <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active show" id="tab-prf-view" data-toggle="tab" href="#tab-friends" aria-selected="true">
                                <span class="nav-text">All</span>
                            </a>
                        </li>
                    </ul>
                </div>
                 <div id="panel-friends-content-container" style="padding: 20px;">
                    <div class="tab-pane show active" id="tab-friends" role="tabpanel">
                    </div>
                    <div class="tab-pane show panel-content" id="tab-friends-edit" role="tabpanel">
                    </div>
                 </div>
             </div>
        </div>
    </div>
</div>