<div class="modal fade" id="modal-invit-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" id="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <span class="login100-form-title p-b-0">Select Users</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="user-invit-list-header">
                    <input style="min-width: 230px;min-height: 50px; padding: 12px 16px;" type="text" placeholder="Search..." id="user_search" onkeyup="filterUserFunction()">
                    <button type="button" id="invit-users-btn" class="btn btn-info">Invit</button>
                </div>
                
                <div id="search-invit-content" class="list-group"></div>

            </div>
        </div>
    </div>
</div>