<div id="notifications-panel" class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <h3>Notifications</h3>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content card">
            <div class="main-card mb-3 card">
                <div class="card-header-tab card-header">
                    <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active show" id="tab-prf-view" data-toggle="tab" href="#tab-notif-friends" aria-selected="true">
                                <span class="nav-text">All</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content panel-content">
                    <div class="tab-pane show active" id="tab-notif-friends" role="tabpanel">
                    </div>
                    <div class="tab-pane show panel-content" id="tab-notif-group" role="tabpanel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>