  
  <div class="msg-chat-box" style="display:none">
    <header class="msger-header">
        <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i>
        <span class="chat-name">Chat</span>
        </div>
        <a class="btn-close-chat" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
    </header>

    <div class="msger-chat" id="msger-chat"></div>

    <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm msger-send-btn" id="btn-send-chat" data-friendid="1">Send</button>
    </form>
</div>