<!-- NOTIFICATIONS -->
{% include "main/notifications/main_notifications.html" %}

<!-- FRIENDS -->
{% include "main/friends/main_friends.html" %}

<!-- GROUPS -->
{% include "main/groups/main_groups.html" %}

<!-- AREAS -->
{% include "main/areas/main_areas.html" %}

<!-- PROFILE -->
{% include "main/profile/main_profile.html" %}

<!-- MESSAGE -->
<div id="message-panel" class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <h3>Create Message</h3>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content card">
            <p>Oups, too fast. Try again</p>
        </div>
    </div>
</div>