{% extends "auth/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="app-container app-theme-gray body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('{% static "img/bg_geneva_2.jpg" %}');"></div>
                                        <div class="slider-content"><h3>Social oriented</h3>
                                            <p>IRL friends sucks...</p></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('{% static "img/bg_geneva_3.jpg" %}');"></div>
                                        <div class="slider-content"><h3>Scalable, Modular, Consistent</h3>
                                            <p>Like a slice of ham!</p></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('{% static "img/bg_geneva_1.jpg" %}');"></div>
                                        <div class="slider-content"><h3>Complex, but lightweight</h3>
                                            <p>Such as cheeese.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class="app-logo"></div>
                            <!--
                            <h4>
                                <div>Forgot your Password?</div>
                                <span>Use the form below to recover it.</span>
                            </h4>
                            -->
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Forgot your Password?</h5>
                                    {% if messages %}
                                    <div class="alert alert-danger fade show" role="alert">
                                        {% for message in messages %}
                                            {% if message.tags %} {{ message.tags }} :{% endif %}{{ message }}<br />
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    Please enter your e-mail or username to recover your password.
                                    <div class="divider row"></div>
                                    <form class="" action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <table class="table-responsive">
                                                        {{ form|crispy }}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider row"></div>
                                        <div class="mt-4 d-flex align-items-center">
                                            <a href="/" class="text-primary">Sign in existing account</a>
                                            <div class="ml-auto">
                                                <input type="submit" class="btn btn-primary btn-lg" value="Recover Password" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}