

<!-- NOT USED -->



<!-- {% load static %}
<div class="modal fade" id="modal-post-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create_message" method="post">
                {% csrf_token %}
                    <div class="wrap-input100 validate-input m-b-20">
                        <select id="group-listing" name="group-listing" class="select-box100 form-group">
                            <option value="value1">No groups, create one.</option>
                        </select>
                        <span class="focus-select-box100"></span>
                    </div>
                    <div class="form-group">
                      <div class="box">
                        <label id="valueRadius" for="radius">5</label>
                      </div>
                        <span id="textSlider">Radius in KM</span>
                        <input id="radius" name="radius" type="range" class=" sliderRange form-control-range" value="5" min="5" max="50">
                    </div>
                    <div class="wrap-input100 validate-input m-b-20">
                        <textarea id="content" name="content" class="textarea100" rows="5" placeholder="Your message"></textarea>
                        <span class="focus-textarea100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-20">
                        <select id="visibility" name="visibility" class="select-box100">
                            <option>Private</option>
                            <option>Semi-private</option>
                            <option>Public</option>
                        </select>
                        <span class="focus-select-box100"></span>
                    </div>
                    <div class="form-group">
                      <div class="box">
                        <label id="valueRadius" for="duration">1</label>
                      </div>
                        <span id="textSlider">Duration in min</span>
                        <input id="duration" name="duration" type="range" class="sliderRange form-control-range" value="1" min="1" max="3600" step="60" >
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="form-group text-center">
                            <button type="submit" class="login100-form-btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-post-msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog wrap-login100" role="document" id="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <span class="login100-form-title p-b-0">New Message</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div> -->
